@import "./constants/constants.scss";
@import "./constants/mixins.scss";
@import "./components/Board/index.scss";
@import "./components/StatusField/index.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Tektur", cursive;
  outline: none;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &--neon {
    background: center / cover no-repeat url(../backgrounds/bg-neon.jpg);
  }

  &--forest {
    background: center / cover no-repeat url(../backgrounds/bg-forest.jpg);
  }
}

.display-slowly {
  animation: display-slowly 300ms linear forwards;
}

@keyframes display-slowly {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
