@import "./constants/constants.scss";
@import "./constants/mixins.scss";
@import "./components/Board/index.scss";
@import "./components/StatusField/index.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Tektur", cursive;
  outline: none;
  user-select: none;
  // color: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: center / cover no-repeat url(../background.jpg);
}
