@import "./constants/constants.scss";
@import "./constants/mixins.scss";
@import "./components/Board/index.scss";
@import "./components/StatusField/index.scss";
@import "./components/Background/index.scss";
@import "./components/Loader/index.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Tektur", cursive;
  outline: none;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.display-slowly {
  animation: display-slowly 300ms linear forwards;
}

@keyframes display-slowly {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.hide-slowly {
  animation: hide-slowly 2000ms linear forwards;
}

@keyframes hide-slowly {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    display: none;
    opacity: 0%;
  }
}
